node_modules/
dist/
.next/
*.tsbuildinfo
.artifacts/
.env
.env.local
.env.production
.env.development
.env.test
.env.*.local
build/
.DS_Store
playwright-report/
test-results/
coverage/
uploads/
*.log
